

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    background: black;
    font-family: sans-serif;
  }
  
  .container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .video-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  
  .overlay {
    position: relative;
    z-index: 2;
    background: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vw;
    text-align: left;
  }
  
  .overlay h1 {
    font-size: 5vw;
    font-weight: bold;
    line-height: 1.3;
    color: white;
    position: relative;
  }
  
  .mask {
    position: relative;
    color: black; /* на случай если clip не сработает */
    display: inline-block;
  }
  
  .mask::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: transparent;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background: url('./assets/media/video.mp4') center/cover no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    z-index: 3;
    pointer-events: none;
  }



















